
header {
  background-color: rgb(156, 61, 61);
  color: white;
}

.container {
  width: 75%;
  font-family: 'Montserrat', sans-serif;
}

.container h1 {
  font-family: 'Staatliches', cursive;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.rowHeader {
  display: flex;
  align-items: center;
}

.rowHeader a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.rowButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.rowEntries {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.newEntryButton {
  height: 50%;
  display: flex;
  justify-content: flex-end;
}

.imageContainer {
  width: 50%;
}

.imageContainer > img {
  width: 100%;
  height: 90%;
}

.inputContainer {
  width: 50%;
  margin-left: 2rem;
}

.hidden {
  display: none;
}

input,
.label {
  margin-bottom: 1rem;
  font-size: larger;
}

input {
  height: 2rem;
  width: 100%;
}

.bioContainer {
  width: 100%;
}

.bio {
  width: 100%;
}

.notes {
  width: 100%;
}

.button {
  width: 15%;
  background-color: rgb(156, 61, 61);
  color: white;
  border: none;
  height: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.inputProfile {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
}

.fas {
  margin-right: 1rem;
  font-size: 25px;
}

.editProfileButton {
  background-color: rgb(156, 61, 61);
  border: none;
}

.editProfileLink {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .row {
    display: block;
  }

  .imageContainer {
    width: 100%;
    margin-bottom: 1rem;
  }

  .imageContainer > img {
    width: 100%;
  }

  .inputContainer {
    width: 100%;
    margin-left: 0;
  }

  .button {
    width: 30%;
  }

  .editProfileButton {
    background-color: rgb(156, 61, 61);
    border: none;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
}
